/*
 * Globals
 */


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;

}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  /*background-color: #118C4E;*/
  background-image: url('../images/background2.jpg');
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   border-radius: 0px;
   padding-top: 10px;
   padding-left: 10px;
}

.navbar li { color: #000 }

.navbar-brand {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}


.url-box {
  margin-top: 10em;
}

.statistics-box {
  margin-top: 4em;
}


.cover-heading {
  margin-bottom: 40px;
}

#wrapper {
  min-height: 95%;
  position: relative; 
}

#back-button {
  margin-bottom: 35px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;

}

.back-button {
  margin-top: 30px;
}

#url-box{
  margin-bottom: 10px;
}

#id {
    display: none;
    background-color: red;
}

h1.hidden {
    visibility: hidden;
}


